<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201357365434-7lav4l8jve7dkpeh761jsjuac2a4do2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201357365434-7lav4l8jve7dkpeh761jsjuac2a4do2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>201357365434-65sskla5ehcbp9s8odutvbouf8m90udl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwvS6qtQGFN186KrtRJ3dLFb07c9S0HGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>201357365434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astikan.healthcare</string>
	<key>PROJECT_ID</key>
	<string>astikan-healthcare-83920</string>
	<key>STORAGE_BUCKET</key>
	<string>astikan-healthcare-83920.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201357365434:ios:ae60cd7f4d710c46eaf283</string>
</dict>
</plist>